
.brd td{
	vertical-align: bottom;
}

#brd head{
	padding-left: 0px;
}

#test-head{
	text-align: bottom;
	vertical-align: bottom;
}

/* Navigation Styles */
.horizontalcssmenu{
	//background: url('https://www.wolfssl.com/forums/img/navigation/shapeimage_4.png');
	//background-image: url('./img/menu_bg.png');
	//background-repeat: repeat-x;
	//background-repeat: no-repeat;
	margin-bottom: 5px;
	float: left;
	padding-right: 30px;
	width: 600px;
	margin-top: 58px;
}

.horizontalcssmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    //background-image: url('https://www.wolfssl.com/forums/img/navigation/shapeimage_4.png');
    padding-left: 12px;
}

/* Top level list items */
.horizontalcssmenu ul li{
    position: relative;
    display: inline;
    float: left;
    background: transparent url('https://www.wolfssl.com/forums/img/navigation/shapeimage_5.png') repeat-y right top;
}

/* Top level menu link items style */
.horizontalcssmenu ul li a{
    display: block;
    //width: 80px; /*Width of top level menu link items*/
    //padding: 2px 4px;
    //border: 1px solid #202020;
    padding: 9 6px;
    border-left-width: 0;
    text-decoration: none;
    //background: url(menubg.gif) center center repeat-x;

    font-family:'LucidaGrande','Lucida Grande','Lucida Sans Unicode',sans-serif;
    font-size:12px;
    font-weight:400;
    line-height:18px;
    color: #000;

    background-image: url('https://www.wolfssl.com/forums/img/navigation/menu_bg.png');
}

.horizontalcssmenu ul li a:hover{
    //background: url(menubgover.gif) center center repeat-x;
    color: #FFF;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
    padding-top: 1em;
}

/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */

